{{#partial "content"}}
  <h1>Blogpost!</h1>

  <form action="/posts/success" method="post">
    <div class="form-group">
      <label for="title">Post Title:</label>
      <input type="text" class="form-control" id="usr" name="title" placeholder="Enter post title">
    </div>
    <div class="form-group">
      <label for="content">Post Content:</label>
      <textarea name="content" class="form-control" rows="5" id="post" placeholder="Post content goes here..."></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add Post</button>
  </form>
{{/partial}}

{{>base.hbs}}
