{{#partial "content"}}
  <h1> Welcome to Blogpost!</h1>

  <form action="/add-post" method="get">
    <button class="bg-warning float-right mb-3" >Proceed to add a new post.</button>
  </form>

  {{#if posts}}

  {{#each posts }}
  <p class = "mt-5"> {{ title }} </p>
  <p>{{ content }} <a href="/posts/{{id}}">Read more...</a></p>
  {{/each}}

  {{else}}
  <p>No posts yet!</p>
  {{/if}}

{{/partial}}

{{>base.hbs}}