{{#partial "content"}}
  <h1> Welcome to Blogpost!</h1>

  <form action="/add-post" method="get">
    <button class="bg-warning float-right mb-3" >Proceed to add a new post rather :)</button>
  </form>

  {{#if posts}}

  {{#each posts }}
    <br>
  <p> {{ title }} </p>
  <p>{{ content }}</p>
  {{/each}}

  {{else}}
  <p>No posts!</p>
  {{/if}}

{{/partial}}

{{>base.hbs}}