{{#partial "content"}}

  <div class="card">
    <div class="card-body m-5">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text">{{ post.content }}</p>
      <h5 class="card-link">Created At: {{ post.createdAt }} </h5>
    </div>
  </div>
{{/partial}}

{{> base.hbs}}